$navbar-ipc-bg: #008DEF;
$navbar-ipc-hover-bg: #0883D7;
$navbar-ipc-color: #fff;

.btn-primary {
  background: $navbar-ipc-bg;
}
.bootstrap-switch {
  .bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
    &.bootstrap-switch-primary {
      background: $navbar-ipc-bg;
    }
  }
}
.icheck-label {
  padding-left: 15px;
  padding-right: 30px;
  margin-bottom: 0;
  vertical-align: bottom;
}

// 顶部导航
.navbar-ipc {
  background: $navbar-ipc-bg;
  color: $navbar-ipc-color;
  border-radius: 0;
  margin: 0;
  font-size: 16px;

  .navbar-nav {
    &>li>a {
      color: $navbar-ipc-color;

      &:hover{
        background: $navbar-ipc-hover-bg;
      }
    }
    &>li.active {
      a {
        background: $navbar-ipc-hover-bg;
      }
    }
  }
}

$sidebar-bg: #253C4C;
$sidebar-color: #A0B3C0;
$sidebar-active-color: #fff;
$sidebar-collapse-bg: #3F5666;
$sidebar-collapse-color: #A0B3C0;
$sidebar-collapse-active-color: #fff;


.home-wrap {
  .device-control {
    height: 250px;
    background: #fff;
  }
  .collapse-block {
    height: 80px;
    width: 10px;
    position: absolute;
    top: 45%;
    right: -10px;
    background: #000;
  }

  .home-footer {
    background: $sidebar-bg;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
  }
}
// 左侧导航
@media screen and (min-width: 768px) {
  .home-sidebar-mask {
    position: fixed;
    top: 54px;
    left: 0;
    bottom: 40px;
    background: $sidebar-bg;
  }
  .sidebar-mask {
    position: fixed;
    top: 54px;
    left: 0;
    bottom: 0;
    background: $sidebar-bg;
  }
}
.sidebar {
  margin-left: -15px;
  margin-right: -15px;
  background-color: $sidebar-bg;
  margin-bottom: 0;
  color: $sidebar-color;

  .panel {
    border: 0;
    border-radius: 0;
    background: transparent;

    .panel-heading {
      background: transparent;
      color: $sidebar-color;
      cursor: pointer;
      border-radius: 0;

      .panel-title {
        color: $sidebar-active-color;
        font-weight: bold;

        .fa-caret-right {
          display: none;
        }
        .fa-caret-down {
          display: block;
        }
      }
      &.collapsed {
        color: $sidebar-color;

        .fa-caret-right {
          display: block;
        }
        .fa-caret-down {
          display: none;
        }
      }
    }
    .panel-collapse {
      background: $sidebar-collapse-bg;

      .panel-body {
        border: 0;
      }
      .nav-pills {
        &>li {
          &>a {
            color: $sidebar-color;
          }
          &>a:hover{
            background: transparent;
            color: $sidebar-collapse-active-color;
            font-weight: bold;
          }
          &.active {
            &>a, &>a:hover,&>:focus {
              color: $sidebar-collapse-active-color;
              background: transparent;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.message {
  margin-top: 20px;
}

$form-bg: #f5f5f5;

.form-ipc-bg {
    padding: 20px;
    background: $form-bg;
}

// 设置内容区域
.setting-wrap {
  .form-ipc {
    padding: 20px 0 5px 0;
    background: $form-bg;
  }
  .form-ipc-footer {
    margin-top: 15px;
  }
  .form-inline {
    .control-label {
      padding: 0 15px 0 40px;
    }
  }
}

.users {
  .switch-label {
    margin:  0 20px;
  }
  .new-user {
    margin-left: 20px;
    position: relative;
    vertical-align: middle;

    .fa-user {
      font-size: 20px;
    }
    .fa-plus {
      position: absolute;
      left: 13px;
      font-size: 12px;
    }
  }
  .users-wrap {
    padding: 0 20px;

    table.users {
      .operation {
        a {
          margin: 0 5px;
        }
      }
    }
  }
}

.maintenance {
  .form-ipc {
    button {
      width: 100px;
    }
  }
}

.privacy-block {
  .form-ipc {
    padding-bottom: 20px;

    .image-wrap {
      margin: 0 0 20px 20px;
    }
    .form-group {
      margin: 0 20px;
    }
  }
  .color-input {
    width: 100px;
    border: 0;
  }
}

.osd {
  .nav-tabs {
    border: 0;
    margin-bottom: -1px;

    li {
      &.active > a {
        background: $form-bg;
        border: 0;
      }
      & > a {
        border: 0;
      }
    }
  }
  .bootstrap-switch, .btn-color {
    width: 100%;
  }
}

.input {
  .form-ipc {
    padding-bottom: 20px;
  }
  .form-control {
    margin-right: 20px;
  }
}

.output {
  .input-group {
    width: 223px;
  }
}

.motion-detect, .video-coverage {
  .image-wrap {
    width: 500px;
    height: 300px;
    background: #ddd;
  }
  .sensitivity-wrap {
    margin-left: 520px;
  }
}