.container {
  margin-top: 20px;
}

h4.panel-title {
  cursor: pointer;
}

.setting {
  border: solid #ddd 1px;
  padding: 20px;
  
  .new-user {
    margin-bottom: 10px;
    i {
      margin-left: 5px;
    }
  }
  table.users {
    .operation {
      i {
        margin-left: 5px;
      }
    }
  }
}

